.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

# PlatformIO
.pio/

# ESP-IDF
esp-idf/build/
esp-idf/sdkconfig.old

# VSCode
.vscode/

# CMake
**/CMakeFiles/
**/CMakeCache.txt

# macOS
.DS_Store
stm/blink/build/Debug/.ninja_deps
stm/blink/build/Debug/.ninja_log
stm/blink/build/Debug/blink.elf
stm/blink/build/Debug/blink.map
stm/blink/build/Debug/build.ninja
stm/blink/build/Debug/cmake_install.cmake
stm/blink/build/Debug/compile_commands.json
stm/blink/build/Debug/.cache/clangd/index/app.c.DA53A6B4CB6BC0ED.idx
stm/blink/build/Debug/.cache/clangd/index/app.h.8F404006EEECB99D.idx
stm/blink/build/Debug/.cache/clangd/index/cmsis_compiler.h.CD362B38F2BF50B6.idx
stm/blink/build/Debug/.cache/clangd/index/cmsis_version.h.9DFEA420E847EEEB.idx
stm/blink/build/Debug/.cache/clangd/index/core_cm4.h.0A81D93B135279CB.idx
stm/blink/build/Debug/.cache/clangd/index/main.c.7BEF8881CFF29285.idx
stm/blink/build/Debug/.cache/clangd/index/main.h.88D144135841A022.idx
stm/blink/build/Debug/.cache/clangd/index/mpu_armv7.h.93C1A99D4B320DA2.idx
stm/blink/build/Debug/.cache/clangd/index/startup_stm32f401xc.s.847D0A58D4284612.idx
stm/blink/build/Debug/.cache/clangd/index/stm32_hal_legacy.h.D13A2333D20E54EA.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_conf.h.796A2FF747B393BC.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_cortex.c.DBEDEDF8AA380DE5.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_cortex.h.757E114087707607.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_def.h.4BECF84A0FA7821A.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_dma_ex.c.E8503DD23BE85B96.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_dma_ex.h.D4A7A8F74BC4E451.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_dma.c.17D3BA492FC402DB.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_dma.h.F2B893189A38C791.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_exti.c.F2844F0E07C5A272.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_exti.h.CAFB1C5C38FE12E8.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_flash_ex.c.6902913E5B88E83D.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_flash_ex.h.C6417C262959683E.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_flash_ramfunc.c.6E4DD4AD2F8D9F30.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_flash_ramfunc.h.63B51B5FEB714FCA.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_flash.c.19FD19EFC0D4A2A1.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_flash.h.9E41CC8D10149E62.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_gpio_ex.h.49097AED2482FFE6.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_gpio.c.D12162A64707273D.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_gpio.h.CAB196E1ED2227EA.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_msp.c.E3F2A7543F9D8B48.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_pwr_ex.c.0588265B2D42C37E.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_pwr_ex.h.D90323A88481C113.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_pwr.c.0931B71223A165AD.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_pwr.h.F5F455D267A34C2B.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_rcc_ex.c.7847474874946EA2.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_rcc_ex.h.64796E492D228E43.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_rcc.c.8A0B1F688038928E.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal_rcc.h.E63A6C915191987B.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal.c.AB52E79F021B76D6.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_hal.h.96B4451114193EB0.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_it.c.0DB0DBB573A3AA0D.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx_it.h.EC14EE1DBB38B2F8.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f4xx.h.3BF0F052106A54A0.idx
stm/blink/build/Debug/.cache/clangd/index/stm32f401xc.h.2EBE4DBFB5704538.idx
stm/blink/build/Debug/.cache/clangd/index/syscalls.c.56AB4CF498BA9DB3.idx
stm/blink/build/Debug/.cache/clangd/index/sysmem.c.FC7DD9B9AA221B74.idx
stm/blink/build/Debug/.cache/clangd/index/system_stm32f4xx.c.63311496070B2B49.idx
stm/blink/build/Debug/.cache/clangd/index/system_stm32f4xx.h.E799FF32FDAA470D.idx
stm/blink/build/Debug/.cmake/api/v1/query/client-vscode/query.json
stm/blink/build/Debug/.cmake/api/v1/reply/cache-v2-f67d1e9ab5b96ad70b96.json
stm/blink/build/Debug/.cmake/api/v1/reply/cmakeFiles-v1-e5270671df2e5179e304.json
stm/blink/build/Debug/.cmake/api/v1/reply/codemodel-v2-842a28d8f5c4b1142a46.json
stm/blink/build/Debug/.cmake/api/v1/reply/directory-.-Debug-f040eec181a89de70dbe.json
stm/blink/build/Debug/.cmake/api/v1/reply/directory-cmake.stm32cubemx-Debug-720efe0a241989607e76.json
stm/blink/build/Debug/.cmake/api/v1/reply/index-2026-06-09T16-53-13-0572.json
stm/blink/build/Debug/.cmake/api/v1/reply/target-blink-Debug-04b83b6c83ca7f536f78.json
stm/blink/build/Debug/.cmake/api/v1/reply/target-STM32_Drivers-Debug-d2e7a0454d68bf742cd7.json
stm/blink/build/Debug/.cmake/api/v1/reply/target-stm32cubemx-Debug-81ffc2a4f5dc60490dd5.json
stm/blink/build/Debug/.cmake/api/v1/reply/toolchains-v1-645dd81805fd9eb85274.json
stm/blink/build/Debug/cmake/stm32cubemx/cmake_install.cmake
